/* Enter your custom styles here */

:root {
    --color-white: #fdfdfd;
    --color-black: #1d1d1d;
    --color-darkgrey: #3a3a3a;
    --color-lightgrey: #b1b1b1;
    --color-typeA: #28525f;
    --color-typeB: #ed5151;
    --color-typeC: #e9dd30;

}

/* GENERAL */
.sapUiRootBackground, .sapMShellGlobalOuterBackground {
    background: linear-gradient(to bottom, var(--color-darkgrey),  var(--color-black));
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.sapMHBox { background-color: var(--color-black); }
/* .sapMHBox.popupBox { background-color: #fff; } */
/* .popupBox { background-color: #fff; } */
.sapMVBox { background-color: var(--color-black); }
.popupBox.sapMVBox { background-color: #fff; }


/* TITLE BAR SECTION */
.sapMBarPH {
    background-color: var(--color-black);
}
.sapMIBar-CTX .sapMTitle {
    color: var(--color-white);
    text-shadow: none;
} 
.sapMShellBrandingBar {
    height: 0px;
    background-color: var(--color-black);
}


/* HEADER SECTION */
.sapMPCHead .sapMPCHeadActionsToolbar { background-color: var(--color-black); } 
.sapMTitle { color: var(--color-white); }


/* Buttons */
.myButtonDef .sapMBtnInner { 
    color: var(--color-white);
    background: var(--color-typeA);
    text-shadow: none;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    font-size: 0.75rem;
}
span.sapMBtnInner.sapMBtnEmphasized  { 
    color: var(--color-black);
    background-color: var(--color-typeB);
    border-color: var(--color-typeB);
    text-shadow: none;
}
.sapMBtnIcon {
    color: var(--color-lightgrey);
    text-shadow: none;
}

/* POPUP SECTION */
.sapMDialog>.sapMDialogSection { background: var(--color-darkgrey); }
html.sap-desktop .sapMIBar.sapMFooter-CTX {
    background-color: var(--color-darkgrey);
    border-top: 1px solid var(--color-darkgrey);
}
.sapMIBar-CTX.sapMFooter-CTX {
    background-color: var(--color-darkgrey);
    border-top: 1px solid var(--color-darkgrey);
}
.sapMDialog>header.sapMDialogTitle .sapMTitle { color: var(--color-white); }
.sapMText { color: var(--color-lightgrey); }
.sapMIBar.sapMTB .sapMBarChild~.sapMBarChild {
    margin-top: 0px;
    margin-right: 0.2rem;
    margin-bottom: 0px;
    margin-left: 0.2rem;
}
.sapMPopover .sapMPopoverCont {
    background-color: var(--color-black);
}
.popupBox.sapMVBox {
    background-color: var(--color-black);
}
.sapUiUnifiedLegend {
    color: var(--color-white);
    background-color: var(--color-black);
}
.sapMPlanCalLegendHeader {
    color: var(--color-white);
}
.sapUiUnifiedLegendSquare {
    background: var(--color-black);
}
.sapMDialog>header .sapMDialogTitleGroup .sapMTitle {
    color: var(--color-white);
}

/* CALENDAR SECTION */
.sapMSinglePCRow { background-color: var(--color-black)}
.sapMSinglePCBlockersColumn { background-color: var(--color-black); }
.sapMSinglePCRowHeaders  { 
    color: var(--color-white);
    background-color: var(--color-black); 
}
.sapMSinglePCBlockersRow { background-color: var(--color-black); }
.sapMSinglePCRowHeaderHidden { background-color: var(--color-black); }

.sapMSinglePCRow { border-color: var(--color-darkgrey);}
.sapMSinglePCRow .sapMSinglePCBlockersColumn { border-color: var(--color-black);}
.sapMSinglePCBlockersColumn{ border-color: var(--color-black);}

/* GRID */
.sapMSinglePCRowHeader, .sapMSinglePCNowMarkerText {
    width: 2.125rem;
}


/* CALENDAR APPOINTMENTS */
.sapMSinglePC .sapUiCalendarAppCont {
    border-width: 0px;
}
.sapUiCalendarAppTitle {
    color: var(--color-white);
}
.sapUiCalendarAppText {
    color: var(--color-typeC);
}
.sapUiCalendarAppArrowIcon, .sapUiCalendarRow .sapUiCalendarAppArrowIconLeft, .sapUiCalendarRow .sapUiCalendarAppArrowIconRight {
    color: var(--color-black);
}
.sapMIBar-CTX .sapMBtnInner {
    background: var(--color-typeA)
}
.sapMBtnInner {
    color: var(--color-black);
    text-shadow: 0 0 0rem var(--color-black);
}
.sapMDialog>.sapMDialogSection {
    background: var(--color-black);
}
html.sap-desktop .sapMIBar.sapMFooter-CTX {
    background-color: var(--color-black);
    border-top: 1px solid var(--color-black);
}
.sapMLnk {
    color: var(--color-typeA);
}
.sapMLnk:focus {
    color: var(--color-typeA)!important;
}
.sapMLnk:hover {
    color: var(--color-typeA)!important;
}
.sapMIBar-CTX.sapMFooter-CTX {
    background-color: var(--color-black);
    border-top: 1px solid var(--color-black);
}
.sapUiCalendarAppIcon {
    color: var(--color-typeC);
}
.sapUiCalendarAppTitleWrapper, .sapUiCalendarRowAppsIntHeadTitle, .sapUiCalendarAppTitle, .sapUiCalendarAppText {
    width: calc(98%);
    margin-right: 0.375rem;
    display: inline-block;
    overflow: visible;
}


/* A stage - type09=>typeA */
.sapMSinglePCAppointments .sapUiCalendarAppType09.sapMSinglePCAppointmentWrap, 
.sapMSinglePCBlockers .sapUiCalendarAppType09.sapMSinglePCAppointmentWrap {
    border-left-color: var(--color-typeA);
}
.sapMSinglePCAppointments.sapUiCalendarRowVisFilled>.sapUiCalendarAppType09.sapUiCalendarRowApps>.sapUiCalendarApp:not(.sapUiCalendarAppSel)>.sapUiCalendarAppCont {
    background-color: var(--color-typeA);
}
.sapUiCalLegDayType09>.sapUiUnifiedLegendSquare>.sapUiUnifiedLegendSquareColor {
    background: var(--color-typeA);
}

/* B stage - type10=>typeB */
.sapMSinglePCAppointments .sapUiCalendarAppType10.sapMSinglePCAppointmentWrap, 
.sapMSinglePCBlockers .sapUiCalendarAppType09.sapMSinglePCAppointmentWrap {
    border-left-color: var(--color-typeB);
}
.sapMSinglePCAppointments.sapUiCalendarRowVisFilled>.sapUiCalendarAppType10.sapUiCalendarRowApps>.sapUiCalendarApp:not(.sapUiCalendarAppSel)>.sapUiCalendarAppCont {
    background-color: var(--color-typeB);
}
.sapUiCalLegDayType10>.sapUiUnifiedLegendSquare>.sapUiUnifiedLegendSquareColor {
    background: var(--color-typeB);
}

/* C - type01=>typeC */
.sapMSinglePCAppointments .sapUiCalendarAppType01.sapMSinglePCAppointmentWrap, 
.sapMSinglePCBlockers .sapUiCalendarAppType09.sapMSinglePCAppointmentWrap {
    border-left-color: var(--color-typeC);
}
.sapMSinglePCAppointments.sapUiCalendarRowVisFilled>.sapUiCalendarAppType01.sapUiCalendarRowApps>.sapUiCalendarApp:not(.sapUiCalendarAppSel)>.sapUiCalendarAppCont {
    background-color: var(--color-typeC);
}
.sapUiCalLegDayType01>.sapUiUnifiedLegendSquare>.sapUiUnifiedLegendSquareColor {
    background: var(--color-typeC);
}