/* Custom styles here */

:root {
    --color-white: #fdfdfd;
    --color-black: #1d1d1d;
    --color-darkgrey: #1c1c1c;
    --color-lightgrey: #b1b1b1;
    --color-typeA: #8e8473;
    --color-typeB: #eaec5d;
    --color-typeC: #8e8473;
    --color-typeA-highlight: #a19685;
    --color-typeB-highlight: #ebe970;
    --color-typeA-dark: #524b41;
    --color-typeB-dark: #cabe1c;

    --font-size: 1rem;
    --font-size-title: 1.5rem;
    --font-size-popup: 1.25rem;
    --font-size-popup-descr: 1rem;
    --font-size-spotify-logo: 1.5rem;
    --title-height: 3rem;
    --hoursLabelWidth: 1.5rem;
    --popup-button-font-size: 1.5rem;
    --hour-label-padding-right: 0.75rem;
}

/* GENERAL */

body {
    background-color: var(--color-darkgrey);
}

.center {
    align-items: center;
    justify-content: center;    
}

.divPage {
    display: flex;
    justify-content: center;    
    align-items: center;
    flex-direction: column;
}

/* HEADER*/
.divHeader {
    width: 100%;
    height: var(--title-height);
    display: flex;
    margin-bottom: 0.5rem;
}

.textHeader {
    color: var(--color-typeC);
    font-weight: bold;
    font-size: var(--font-size-title);
}

.divHeaderBanner {
    display: flex;
    justify-content: center;
    
}

.imgHeaderBanner {
    width: 100%;
    max-width: 820px;
}

.divTopButtons {
    width: 100%;
    display: flex;
}

.divTopSpotifyButton {
    flex-basis: 0;
    display: flex;
    align-items: center;
}

.buttonDay {
    margin: 0.4rem;
    display: flex;
    align-items: center;
    justify-content: center; 
    background-image: url("../img/button_yellow.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: center;
    font-weight: bold;
    border: none;
    width: 8rem;
    height: 4rem;
}

.spanDayButton {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.spanSpotifyButton {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
}

#iSpotifyLogo {
    font-size: var(--font-size-spotify-logo);
    margin-left: 0.8rem;
}

#spanDaySpotifyText {
    margin-left: 0.5rem;
}

button.buttonActive {
    background-image: url("../img/button_grey.png");
}

.fixedHeader {
    overflow: hidden;
    position: sticky;
    top: 0;
    background-color: var(--color-darkgrey);
    width: 100%;
    max-width: 62.5rem;
 }

/* STAGE LABELS*/ 
.divStageLabels {
    display: flex;
    flex-direction: row;
}

.divHoursLabelBlank {
    width: var(--hoursLabelWidth);    
}

.divEventsLabels {
    width: auto;
    display: flex;
    flex: 1;   
    font-weight: bold;
}

.divEventsLabel {
    width: auto;
    display: flex;
    flex: 1;
    justify-content: center;
    
    margin-bottom: 0.05rem;
    margin-left: 0.1rem;
    margin-right: 0.1em;
    padding-top: 0.6rem;
    padding-bottom: 0.5rem;
}

.divEventsLabel.stageA {
    background-color: var(--color-typeA-dark);
    color: var(--color-lightgrey);
}

.divEventsLabel.stageB {
    background-color: var(--color-typeB-dark);
    color: var(--color-darkgrey);
}

/* MAIN BLOCK*/
.divMainBlock {
    width: 100%;
    max-width: 62.5rem;
    display: flex;
}

.divHoursLabel {
    width: var(--hoursLabelWidth);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.divHourLabel {
    width: 1.5rem;
    height: 1.25rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: var(--hour-label-padding-right);
    font-size: 1rem;
    font-weight: bold;
    color: var(--color-lightgrey);
}

.divEventsMainBlock {
    width: auto;
    flex: 1;
    display: flex;
}

.divStageBlock {
    flex: 1;
}

.divEvent {
    cursor: pointer;    
    display: flex;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
    flex-direction: column;
}

.divEventHeader {
    display: flex;
}

.divEventSubBlock {
    flex-grow: 1;
    margin-top: -1px;
    margin-bottom: -1px;
}

.divEventFooter {
    display: flex;
}

.divEventContent {
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    flex-direction: column;
}
.divEventTopLine {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-bottom-width: medium;
    border-bottom-color: var(--color-darkgrey);
    border-bottom-style: dotted;
}

.divEventFav {
    display: flex;
    align-items: center;
}

.divEventTitle {
    display: flex;
    align-items: center;
    padding-left: 0.25rem;
}

.divEventDescr {
    padding-top: 0.75rem;
    padding-left: 0.25rem;
    display: flex;
    font-style: italic;
}

span {
    font-family:Arial, Helvetica, sans-serif;
    white-space: pre-line;
    font-size: var(--font-size);
}

span.spanDayButton {
    font-size: 1.5rem;
}

span.spanSpotifyButton {
    font-size: 1.3rem;
}

.spanEventTitle {
    font-weight: bold;
    text-shadow: 1px 1px 1px var(--color-black);
    display: flex;
    text-align: center;
}

/* STAGE CUSTUMIZING */

.divEventHeader.stageA {
    background-image: url("../img/event_grey_top.png");
    background-size: contain;   
    background-repeat: no-repeat;
    background-position: bottom;
    height: 1.875rem;
    width: 100%;
}

.divEventSubBlock.stageA {
    background-image: url("../img/event_grey_mid.png");
    background-position: top;
    background-size: 100%;
    background-repeat: no-repeat;
}

.divEventFooter.stageA {
    background-image: url("../img/event_grey_bot.png");
    background-size: contain;    
    background-repeat: no-repeat;
    background-position: top;
    height: 1.875rem;
    width: auto;
}

.divEventHeader.stageB {
    background-image: url("../img/event_yellow_top.png");
    background-size: contain;   
    background-repeat: no-repeat;
    background-position: bottom;
    height: 1.875rem;
    width: 100%;
}

.divEventSubBlock.stageB {
    background-image: url("../img/event_yellow_mid.png");
    background-position: top;
    background-size: 100%;
    background-repeat: repeat-y;
}

.divEventFooter.stageB {
    background-image: url("../img/event_yellow_bot.png");
    background-size: contain;    
    background-repeat: no-repeat;
    background-position: top;
    height: 1.875rem;
    width: auto;
}

.divEvent.stageA.eventHighlighted {
    background-color: var(--color-typeA-highlight);
}

.divEvent.stageB.eventHighlighted {
    background-color: var(--color-typeB-highlight);
}

/* POPUP */
.divPopupEvent {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    padding: 2rem;
    border-radius: 8px;
    z-index: 500;
    visibility: hidden;
    flex-direction: column;
    opacity: 98%;
    background-position: center; 
    background-size: cover;    
    background-repeat: no-repeat;
    background-color: var(--color-black);
    box-shadow:  rgba(204, 204, 204, 0.32) 0px 0px 8px 1px;
}

.divPopupEventComm {
    display: flex;
}

.divPopupEventTitle {
    color: var(--color-typeC);
    padding-bottom: 0.75rem;
}

.divPopupEventSubtitle {
    color: var(--color-lightgrey);
    margin-bottom: 3rem;
}

.divPopupEventBody {
    color: var(--color-lightgrey);
    margin-bottom: 2rem;
}

.divPopupEventButtons {
    justify-content: flex-end;
    margin-top: 2rem;
}

button.buttonPopup {
    background-color: var(--color-typeC);
    margin: 0.5rem;
    border-radius: 1rem;
    box-shadow: var(--color-lightgrey) 0px -50px 36px -28px inset;
}

.spanPopupButton {
    font-size: var(--popup-button-font-size);
}

.fa.spanPopupButton {
    font-size: var(--popup-button-font-size);
}

.spanPopupText {
    font-size: var(--font-size-popup);
}

.spanPopupDescr {
    font-size: var(--font-size-popup-descr);
}

.iframePlayer {
    border-radius: 12px;
	width: 100%; 
	/* height: 352px; */
    height: 500px;
}