/* Custom styles here */

:root {
    --color-white: #fdfdfd;
    --color-black: #1d1d1d;
    --color-darkgrey: #1c1c1c;
    --color-lightgrey: #b1b1b1;
    --color-typeA: #8e8473;
    --color-typeB: #eaec5d;
    --color-typeC: #8e8473;
    --color-typeA-highlight: #a19685;
    --color-typeB-highlight: #ebe970;

    --font-size: 1rem;
    --font-size-title: 1.5rem;
    --font-size-popup: 1.25rem;
    --font-size-popup-descr: 1rem;
    --font-size-spotify-logo: 1.5rem;
    --title-height: 3rem;
    --hoursLabelWidth: 1.5rem;
    --popup-button-font-size: 1.5rem;
    --hour-label-padding-right: 0.75rem;
}

/* GENERAL */

body {
    background-color: var(--color-darkgrey);
}

.center {
    align-items: center;
    justify-content: center;    
}

/* HEADER*/
.divHeader {
    width: 100%;
    height: var(--title-height);
    display: flex;
    margin-bottom: 0.5rem;
}

.textHeader {
    color: var(--color-typeC);
    font-weight: bold;
    font-size: var(--font-size-title);
}

.divHeaderBanner {
    display: flex;
    justify-content: center;
    
}

.imgHeaderBanner {
    width: 100%;
    max-width: 820px;
}

.divTopButtons {
    width: 100%;
    display: flex;
}

.divTopSpotifyButton {
    flex-basis: 0;
    display: flex;
    align-items: center;
}

.buttonDay {
    background-color: var(--color-typeB);
    margin: 0.4rem;
    display: flex;
    align-items: center;
    justify-content: center; 
    border-radius: 0.5rem;
    box-shadow: var(--color-lightgrey) 0px -50px 36px -28px inset;
}

.spanDayButton {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.spanSpotifyButton {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
}

#iSpotifyLogo {
    font-size: var(--font-size-spotify-logo);
    margin-left: 1rem;
}

#spanDaySpotifyText {
    margin-left: 0.5rem;
}

button.buttonActive {
    background-color: var(--color-typeC);
    font-weight: bold;
}

.fixedHeader {
    overflow: hidden;
    position: sticky;
    top: 0;
    background-color: var(--color-darkgrey);
    
 }

/* STAGE LABELS*/ 
.divStageLabels {
    display: flex;
    flex-direction: row;
}

.divHoursLabelBlank {
    width: var(--hoursLabelWidth);    
}

.divEventsLabels {
    width: auto;
    display: flex;
    flex: 1;   
    font-weight: bold;
}

.divEventsLabel {
    width: auto;
    display: flex;
    flex: 1;
    justify-content: center;
    background-color: var(--color-typeA);
    margin-bottom: 0.05rem;
    margin-left: 0.1rem;
    margin-right: 0.1em;
    padding-top: 0.6rem;
    padding-bottom: 0.5rem;
}

/* MAIN BLOCK*/
.divMainBlock {
    width: auto;
    display: flex;
}

.divHoursLabel {
    width: var(--hoursLabelWidth);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.divHourLabel {
    width: 1.5rem;
    height: 1.25rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: var(--hour-label-padding-right);
    font-size: 1rem;
    font-weight: bold;
    color: var(--color-lightgrey);
}

.divEventsMainBlock {
    width: auto;
    flex: 1;
    display: flex;
}

.divStageBlock {
    flex: 1;
}

.divEvent {
    /* background-color: var(--color-lightgrey); */
    cursor: pointer;    
    display: flex;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
    flex-direction: column;
}

.divEventSubBlock {
    flex-grow: 1;
}

.divEventFooter {
    height: 1rem;
}

.divEventContent {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
}
.divEventTopLine {
    display: flex;
    flex-direction: row;
    padding-top: 0.75rem;
}
.divEventFav {
    display: flex;
    align-items: center;
}
.divEventTitle {
    display: flex;
    align-items: center;
    padding-left: 0.25rem;
    text-shadow: 1px 1px 3px #b1b1b1;
}
.divEventDescr {
    padding-top: 0.75rem;
    padding-left: 0.25rem;
    display: flex;
    font-style: italic;
}

span {
    font-family:Arial, Helvetica, sans-serif;
    white-space: pre-line;
    font-size: var(--font-size);
}

.spanEventTitle {
    font-weight: bold;
}

/* STAGE CUSTUMIZING */

/* .divEvent.stageA {
    background-color: var(--color-typeA);
} */

.divEvent.stageB {
    background-color: var(--color-typeB);
}

/* .desktop.divEvent.stageA {
    box-shadow: 
        var(--color-black) 0px -2px 6px 0px inset,
        var(--color-typeA-highlight) 0px 15px 20px -15px,
        var(--color-lightgrey) 0px -50px 36px -28px inset; 
    background-color: var(--color-typeA); 
} */

/* .mobile.divEvent.stageA {
    box-shadow: 
        var(--color-black) 0px -4px 10px 0px inset,
        var(--color-typeA-highlight) 0px 25px 32px -25px,
        var(--color-lightgrey) 0px -80px 60px -45px inset;
} */

.divEventSubBlock.stageA {
    background-image: url("../img/event_background.png");
    background-position: top;
    background-size: cover;    
    background-repeat: no-repeat;
}

.divEventFooter.stageA {
    background-image: url("../img/event_footer.png");
}

.desktop.divEvent.stageB {
    box-shadow: 
        var(--color-black) 0px -2px 6px 0px inset,
        var(--color-typeB-highlight) 0px 15px 20px -15px,
        var(--color-lightgrey) 0px -50px 36px -28px inset;
}

.mobile.divEvent.stageB {
    box-shadow: 
        var(--color-black) 0px -4px 10px 0px inset,
        var(--color-typeB-highlight) 0px 25px 32px -25px,
        var(--color-lightgrey) 0px -80px 60px -45px inset;
}

.divEvent.stageA.eventHighlighted {
    background-color: var(--color-typeA-highlight);
}

.divEvent.stageB.eventHighlighted {
    background-color: var(--color-typeB-highlight);
}

/* POPUP */
.divPopupEvent {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    padding: 2rem;
    border-radius: 8px;
    z-index: 500;
    visibility: hidden;
    flex-direction: column;
    opacity: 95%;
    background-image: url("../img/test3.png");
    background-position: center; 
    background-size: cover;    
    background-repeat: no-repeat;
    background-color: var(--color-black);
}

.divPopupEventComm {
    text-shadow: 1px 1px 2px var(--color-black), 0 0 25px var(--color-lightgrey), 0 0 5px var(--color-darkgrey);
    display: flex;

}

.divPopupEventTitle {
    color: var(--color-typeC);
    padding-bottom: 0.75rem;
}

.divPopupEventSubtitle {
    color: var(--color-lightgrey);
    margin-bottom: 5rem;
}

.divPopupEventBody {
    color: var(--color-lightgrey);
}

.divPopupEventButtons {
    justify-content: flex-end;
    margin-top: 8rem;
}

button.buttonPopup {
    background-color: var(--color-typeC);
    margin: 0.5rem;
    border-radius: 1rem;
    box-shadow: var(--color-lightgrey) 0px -50px 36px -28px inset;
}

.spanPopupButton {
    font-size: var(--popup-button-font-size);
}

.fa.spanPopupButton {
    font-size: var(--popup-button-font-size);
}

.spanPopupText {
    font-size: var(--font-size-popup);
}

.spanPopupDescr {
    font-size: var(--font-size-popup-descr);
}