/* Enter your custom styles here */

:root {
    /* --color-white: white;
    --color-black: #2a2a2a;
    --color-darkgrey: #424343;
    --color-lightgrey: rgb(230, 230, 230);
    --color-typeA: #7eb9c0;
    --color-typeB: #cc5974;
    --color-typeC: #e7b755; */

    --color-white: white;
    --color-black: #544e4e;
    --color-darkgrey: #858585;
    --color-lightgrey: rgb(230, 230, 230);
    --color-typeA: #fff47e;
    --color-typeB: #fafaff;
}

/* GENERAL */
.sapUiRootBackground, .sapMShellGlobalOuterBackground {
    background: linear-gradient(to bottom, var(--color-darkgrey),  var(--color-black));
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.sapMHBox { background-color: var(--color-black); }
/* .sapMHBox.popupBox { background-color: #fff; } */
/* .popupBox { background-color: #fff; } */
.sapMVBox { background-color: var(--color-black); }
.popupBox.sapMVBox { background-color: #fff; }


/* TITLE BAR SECTION */
.sapMBarPH {
    background-color: var(--color-black);
}
.sapMIBar-CTX .sapMTitle {
    color: var(--color-white);
    text-shadow: none;
} 
.sapMShellBrandingBar {
    height: 0px;
    background-color: var(--color-black);
}


/* HEADER SECTION */
.sapMPCHead .sapMPCHeadActionsToolbar { background-color: var(--color-black); } 
.sapMTitle { color: var(--color-white); }


/* Buttons */
.myButtonDef .sapMBtnInner { 
    color: var(--color-black);
    background: var(--color-typeA);
    text-shadow: none;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    font-size: 0.75rem;
}
span.sapMBtnInner.sapMBtnEmphasized  { 
    color: var(--color-black);
    background-color: var(--color-typeB);
    border-color: var(--color-typeB);
    text-shadow: none;
}
.sapMBtnIcon {
    color: var(--color-white);
    text-shadow: none;
}

/* POPUP SECTION */
.sapMDialog>.sapMDialogSection { background: var(--color-darkgrey); }
html.sap-desktop .sapMIBar.sapMFooter-CTX {
    background-color: var(--color-darkgrey);
    border-top: 1px solid var(--color-darkgrey);
}
.sapMIBar-CTX.sapMFooter-CTX {
    background-color: var(--color-darkgrey);
    border-top: 1px solid var(--color-darkgrey);
}
.sapMDialog>header.sapMDialogTitle .sapMTitle { color: var(--color-white); }
.sapMText { color: var(--color-lightgrey); }
.sapMIBar.sapMTB .sapMBarChild~.sapMBarChild {
    margin-top: 0px;
    margin-right: 0.2rem;
    margin-bottom: 0px;
    margin-left: 0.2rem;
}
.sapMPopover .sapMPopoverCont {
    background-color: var(--color-black);
}
.popupBox.sapMVBox {
    background-color: var(--color-black);
}
.sapUiUnifiedLegend {
    color: var(--color-white);
    background-color: var(--color-black);
}
.sapMPlanCalLegendHeader {
    color: var(--color-white);
}
.sapUiUnifiedLegendSquare {
    background: var(--color-black);
}

/* CALENDAR SECTION */
.sapMSinglePCRow { background-color: var(--color-black)}
.sapMSinglePCBlockersColumn { background-color: var(--color-black); }
.sapMSinglePCRowHeaders  { 
    color: var(--color-white);
    background-color: var(--color-black); 
}
.sapMSinglePCBlockersRow { background-color: var(--color-black); }
.sapMSinglePCRowHeaderHidden { background-color: var(--color-black); }

.sapMSinglePCRow { border-color: var(--color-darkgrey);}
.sapMSinglePCRow .sapMSinglePCBlockersColumn { border-color: var(--color-black);}
.sapMSinglePCBlockersColumn{ border-color: var(--color-black);}

/* GRID */
.sapMSinglePCRowHeader, .sapMSinglePCNowMarkerText {
    width: 2.125rem;
}


/* CALENDAR APPOINTMENTS */
.sapMSinglePC .sapUiCalendarAppCont {
    border-width: 0px;
}
.sapUiCalendarAppTitle {
    color: var(--color-black);
}
.sapUiCalendarAppText {
    color: var(--color-darkgrey);
}
.sapUiCalendarAppArrowIcon, .sapUiCalendarRow .sapUiCalendarAppArrowIconLeft, .sapUiCalendarRow .sapUiCalendarAppArrowIconRight {
    color: var(--color-black);
}
/* .sapMIBar-CTX .sapMBtnInner, .sapMBar .sapMBtnInner, .sapMHeader-CTX .sapMBtnInner, .sapMFooter-CTX .sapMBtnInner { */
.sapMIBar-CTX .sapMBtnInner {
    background: var(--color-typeA)
}
.sapMBtnInner {
    color: var(--color-black);
    text-shadow: 0 0 0rem var(--color-black);
}
.sapMDialog>.sapMDialogSection {
    background: var(--color-black);
}
html.sap-desktop .sapMIBar.sapMFooter-CTX {
    background-color: var(--color-black);
    border-top: 1px solid var(--color-black);
}
.sapMLnk {
    color: var(--color-typeA);
}
.sapMIBar-CTX.sapMFooter-CTX {
    background-color: var(--color-black);
    border-top: 1px solid var(--color-black);
}


/* Main stage - type09=>typeA */
.sapMSinglePCAppointments .sapUiCalendarAppType09.sapMSinglePCAppointmentWrap, 
.sapMSinglePCBlockers .sapUiCalendarAppType09.sapMSinglePCAppointmentWrap {
    border-left-color: var(--color-typeA);
}
.sapMSinglePCAppointments.sapUiCalendarRowVisFilled>.sapUiCalendarAppType09.sapUiCalendarRowApps>.sapUiCalendarApp:not(.sapUiCalendarAppSel)>.sapUiCalendarAppCont {
    background-color: var(--color-typeA);
}
.sapUiCalLegDayType09>.sapUiUnifiedLegendSquare>.sapUiUnifiedLegendSquareColor {
    background: var(--color-typeA);
}

/* Acustic stage - type10=>typeB */
.sapMSinglePCAppointments .sapUiCalendarAppType10.sapMSinglePCAppointmentWrap, 
.sapMSinglePCBlockers .sapUiCalendarAppType09.sapMSinglePCAppointmentWrap {
    border-left-color: var(--color-typeB);
}
.sapMSinglePCAppointments.sapUiCalendarRowVisFilled>.sapUiCalendarAppType10.sapUiCalendarRowApps>.sapUiCalendarApp:not(.sapUiCalendarAppSel)>.sapUiCalendarAppCont {
    background-color: var(--color-typeB);
}
.sapUiCalLegDayType10>.sapUiUnifiedLegendSquare>.sapUiUnifiedLegendSquareColor {
    background: var(--color-typeB);
}

/* Kinecko - type01=>typeC */
.sapMSinglePCAppointments .sapUiCalendarAppType01.sapMSinglePCAppointmentWrap, 
.sapMSinglePCBlockers .sapUiCalendarAppType09.sapMSinglePCAppointmentWrap {
    border-left-color: var(--color-typeC);
}
.sapMSinglePCAppointments.sapUiCalendarRowVisFilled>.sapUiCalendarAppType01.sapUiCalendarRowApps>.sapUiCalendarApp:not(.sapUiCalendarAppSel)>.sapUiCalendarAppCont {
    background-color: var(--color-typeC);
}
.sapUiCalLegDayType01>.sapUiUnifiedLegendSquare>.sapUiUnifiedLegendSquareColor {
    background: var(--color-typeC);
}